<div class="container">
     <div class="row">
          <div class="col-12 col-md-5 my-5">
               <h3>Conoce más a hacerca de nosotros</h3><br>
               <p>Hotel Transylvania esta ubicado en santa elena <br> en un ambiente selvatico y tranquilo, <br> con una vista
                    hermosa y facil de llegar. <br><br>
                    Danos el lujo de disfrutar de tu compañia <br> y atenderte como te lo mereces, <br> puedes compartir en
                    pareja, con tus familiares <br> o tus amigos.<br><br>
                    Adicional tenemos servicios que te encantaran, <br> sal de la rutina y date unas vacaciones que nunca
                    olvidaras.<br><br>
          </div>

          <div class="col-12 col-md-7 my-5">
               <div class="row">
                    <div class="col-4">
                         <img src="../../assets/img/pareja.jpg" alt="pareja" class="img-fluid shadow">
                    </div>
                    <div class="col-4">
                         <img src="../../assets/img/familia.jpg" alt="familia" class="img-fluid shadow">
                    </div>
                    <div class="col-4">
                         <img src="../../assets/img/amigos.jpg" alt="amigos" class="img-fluid shadow">
                    </div>
          </div>
     </div>
</div>
<hr>


