<div class="container">
     <div class="row">
          <div class="col-12 col-md-5 my-5">
               <h3>Conoce más a hacerca de nosotros</h3><br>
               <p class="wow animate__animated animate__fadeInUp animate__slow">Danos el lujo de disfrutar de tu compañia y atenderte como te lo mereces, puedes compartir en pareja, con amigos o con tus familiares, tenemos reservas de habitaciones según la
               cantidad de personas.<br><br>
               Adicional tenemos 2 secciones que te encataran, sal de la rutina y date unas vacaciones que nunca olvidaras.<br><br>
               👉Entretenimiento al máximo de terror, ¿te atreves a disfrutar de este plan?; te daremos un recorrido por los lugares mas terrorificos de nuestro hotel con un entrenemiento espectacular. <br><br>
               👉Relajate con nuestros servicios "Todo tranqui", en donde viviras como un rey'reina con lo masajes, spa, y mucho más.
               </p>
          </div>
          <div class="col-12 col-md-7 my-5">
               <div class="row">
                    <div class="col-4">
                         <img src="../../assets/img/pareja.jpg" alt="pareja" class="img-fluid shadow">
                         <h6>Reserva con tu pareja</h6>
                    </div>
                    <div class="col-4">
                         <img src="../../assets/img/familia.jpg" alt="familia" class="img-fluid shadow">
                         <h6>Reserva con tu familia</h6>

                    </div>
               
                    <div class="col-4">
                         <img src="../../assets/img/amigos.jpg" alt="amigos" class="img-fluid shadow">
                         <h6>Reserva con tus amigos</h6>
                    </div>
          </div>
     </div>
</div>
<hr>

<section>
     <div class="container menu">
          <div class="row justify-content-center p-5">
          
               <div class="col-12 text-center text-white">
                    <h4>Servicios de hospedaje</h4><br>
               </div>
               <div class="col-4 col-md-4">
                    <img src="../../assets/img/habitranqui.png" alt="habitranqui" class="img-fluid w-100 zoom">
                    <h5 style="color: lightblue;">💆‍♀️Reserva Tranqui</h5>
               </div>
               <div class="col-4 col-md-4">
                    <img src="../../assets/img/habiterror.jpg" alt="habiterror" class="img-fluid w-100 zoom">
                    <h5 style="color: red;">👻Reserva Terror</h5>
               </div>
          </div>
     </div>
</section>



