<section class="des">
     <div class="container my-5">
          <div class="row justify-content-center">
               <div class="col-12 col-md-5 text-center">
                    <h3>Conoce más a hacerca de nosotros</h3><br><br>
                    <p class="wow animate__animated animate__fadeInUp animate__slow">En nuestro hotel puedes disfrutar de diferentes servicios: como compartir en pareja o con tus familiares, tenemos reservas de habitaciones según la cantidad de personas.
                    <br><br>
                    En el hotel tenemos 2 secciones, una que se encarga de hospedaje tranquilo y otro que es con entretenimiento al máximo de terror, ¿te atreves a disfrutar de este con tus amigos?.
                    </p>
               </div>
          </div>
     </div>
</section>

<section>
     <div class="container menu">
          <div class="row justify-content-center p-5">
          
               <div class="col-12 text-center text-white">
                    <h4>Servicios de hospedaje</h4>
               </div>
               <div class="col-12 col-md-3">
                    <img src="../../assets/img/food.jpg" alt="plato1" class="img-fluid w-100 zoom">
               </div>
               <div class="col-12 col-md-3">
                    <img src="../../assets/img/food.jpg" alt="plato2" class="img-fluid w-100 zoom">
               </div>
               <div class="col-12 col-md-3">
                    <img src="../../assets/img/food.jpg" alt="plato3" class="img-fluid w-100 zoom">
               </div>
               <div class="col-12 col-md-3">
                    <img src="../../assets/img/food.jpg" alt="plato3" class="img-fluid w-100 zoom">
               </div>
          </div>
     </div>
</section>



