
<div class="container">
     <h4 style="text-align:center ;">HABITACIONES</h4>

     <div class="row justify-content-center">
          <div class="col-12 col-md-4 my-5">
                    <div class="card" style="width: 27rem;">
                         <img class="card-img-top" src="../../assets/img/hab1.jpg" alt="Card image cap">
                         <div class="card-body">
                              <h5 class="card-text">Habitación doble</h5>
                              <p>Habitación de dos camas, cuenta con distintas comodidades y amenidades, con vista a los jardines.</p>
                         </div>
                    </div>
          </div>
          <div class="col-12 col-md-4 my-5">
                    <div class="card" style="width: 27rem;">
                         <img class="card-img-top" src="../../assets/img/hab2.jpg" alt="Card image cap">
                         <div class="card-body">
                              <h5 class="card-text">Suit presidencial con Jacuzzi</h5>
                              <p>Habitacion (King size), con sofa en la ventana, tv, sala de estar y tina de hidromasaje</p>
                         </div>
                    </div>
          </div>
          
          <div class="col-12 col-md-4 my-5">
                    <div class="card" style="width: 27rem;">
                         <img class="card-img-top" src="../../assets/img/hab4.jps.jpg" alt="Card image cap">
                         <div class="card-body">
                              <h5 >Queen size</h5>
                              <p class="card-text">Habitacion de una sola cama, cuenta con una variedad de amenidades donde puedes apreciar de nuestras vista a los jardines exteriores y montañas.</p>
                         </div>
                    </div>
          </div>
     

          <h4 style="text-align:center ;">GALERIA</h4>

          <div class="col-12 col-md-3 my-5">
               <img src="../../assets/img/gastronomia.png" alt="tranqui" width="300" height="200">
          </div>
     
          <div class="col-12 col-md-3 my-5">
               <img src="../../assets/img/baño.jpg" alt="tranqui" width="300" height="200">
          
          </div>

          <div class="col-12 col-md-3 my-5">
               <img src="../../assets/img/tina.png" alt="tranqui" width="300" height="200">
          
          </div>

          <div class="col-12 col-md-3 my-5">
               <img src="../../assets/img/spa2.png" alt="tranqui" width="300" height="200">
          </div>

          <div class="col-12 col-md-3 my-5">
               <img src="../../assets/img/terror3.jpg" alt="tranqui" width="300" height="200">
          </div>
          
          <div class="col-12 col-md-3 my-5">
               <img src="../../assets/img/gym2.jpg" alt="tranqui" width="300" height="200">
          
          </div>
          
          <div class="col-12 col-md-3 my-5">
               <img src="../../assets/img/spa3.jpeg" alt="tranqui" width="300" height="200">
          
          </div>
          
          <div class="col-12 col-md-3 my-5">
               <img src="../../assets/img/buffet.jpg" alt="tranqui" width="300" height="200">
          </div>
     
     </div>
<hr>

