
<div class="container">
     <h4 style="text-align:center ;">GALERIA DE HABITACIONES</h4>

     <div class="row justify-content-center">
          <div class="col-12 col-md-3 my-5">
                    <div class="card" style="width: 18rem;">
                         <img class="card-img-top" src="../../assets/img/hab1.jpg" alt="Card image cap">
                         <div class="card-body">
                              <p class="card-text">Habitación doble</p>
                         </div>
                    </div>
          </div>
          <div class="col-12 col-md-3 my-5">
                    <div class="card" style="width: 18rem;">
                         <img class="card-img-top" src="../../assets/img/hab2.jpg" alt="Card image cap">
                         <div class="card-body">
                              <p class="card-text">Suit presidencial</p>
                         </div>
                    </div>
          </div>
          
          <div class="col-12 col-md-3 my-5">
                    <div class="card" style="width: 18rem;">
                         <img class="card-img-top" src="../../assets/img/hab4.jps.jpg" alt="Card image cap">
                         <div class="card-body">
                              <p class="card-text">Habitacion sensilla</p>
                         </div>
                    </div>
          </div>
          <div class="col-12 col-md-3 my-5">
                    <div class="card" style="width: 18rem;">
                         <img class="card-img-top" src="../../assets/img/hab5.jpg" alt="Card image cap">
                         <div class="card-body">
                              <p class="card-text">Habitacion doble</p>
                         </div>
               </div>
          </div>

          <div class="col-12 col-md-3 my-5">
               <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/img/hab6.jpg" alt="Card image cap">
                    <div class="card-body">
                         <p class="card-text">Habitación King,
                              Junto a la piscina, Terraza y gimnacio</p>
                    </div>
               </div>
          </div>
          <div class="col-12 col-md-3 my-5">
               <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/img/baño.jpg" alt="Card image cap">
                    <div class="card-body">
                         <p class="card-text">Baño encabinado con espejo grande</p>
                    </div>
               </div>
          </div>
     
          <div class="col-12 col-md-3 my-5">
               <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/img/tina.png" alt="Card image cap">
                    <div class="card-body">
                         <p class="card-text">Tina en suit presidencial de gran espacio</p>
                    </div>
               </div>
          </div>
          <div class="col-12 col-md-3 my-5">
               <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/img/sala.png" alt="Card image cap">
                    <div class="card-body">
                         <p class="card-text">Sala de estar en suit presidencial</p>
                    </div>
               </div>
          </div>
     
     </div>
<hr>

