<div class="container" style="background-color: #82B0BF;">
     <div class="row justify-content-center">
          <h4>NUESTROS SERVICIOS</h4><br><br><br><br>
          <div class="row justify-content-center">
               <div class="col-12 col-md-5 my-5">
                    <h6>RESTAURANTE</h6>
                    <p>Disfruta de la gastronomia que te ofrecemos <br>
                    con deliciosos desayunos y almuerzos tipo buffet. <br>
                    Conozca nuestra propuesta gastronómica <br> y pruebe con los 5 sentidos,
                    los platos de la revolución.</p>
               </div>
               <div class="col-12 col-md-5 my-5">
                    <img src="../../assets/img/restaurante.jpg" alt="tranqui" width="300" height="200">
               
               </div>
          </div>
          <div class="row justify-content-center">
               <div class="col-12 col-md-5 my-5">
                    <img src="../../assets/img/piscina.jpg" alt="susto" width="300" height="200">
               </div>
               <div class="col-12 col-md-5 my-5">
                    <h6>PISCINA</h6>
                    <p>El espacio humedo se compone de 2 grandes piscinas <br>
                    muy refrescantes al aire libre con la naturaleza.  Ideal para pasarla chevere, se compone de 2 
                    grandes piscinas iguales, su profundidad máxima es de 1,20 metros y la mínima de 30 cm. el lugar 
                    está dotado de muebles con sombrillas donde puedes disfrutar del sol, apreciar la naturaleza 
                    que rodea el lugar.</p>
               </div>
          </div>
          <div class="row justify-content-center">
               <div class="col-12 col-md-5 my-5">
                    <h6>SPA</h6>
                    <p>Ofrecemos diversidad de servicios de Relajación y Belleza. Aquí encontrará un espacio acondicionado tanto para el
                    descanso como para la renovación espiritual y física; contamos con personal calificado y con amplia experiencia para
                    atender a nuestros clientes y brindarles un servicio de excelente calidad; además utilizamos productos naturales para
                    mejorar los beneficios de nuestros tratamientos y terapias.</p>
               </div>
               <div class="col-12 col-md-5 my-5">
                    <img src="../../assets/img/spa.png" alt="tranqui" width="300" height="200">
          
               </div>
          </div>
          <div class="row justify-content-center">
               <div class="col-12 col-md-5 my-5">
                    <img src="../../assets/img/gym.jpg" alt="susto" width="300" height="200">
               </div>
               <div class="col-12 col-md-5 my-5">
                    <h6>GIMNACIO</h6>
                    <p>El ejercicio te ayuda a mejorar tu salud física y mental y a contar con un sistema inmune fuerte. Llena tu vida de
                    energía y motivación. <br>
                    Zona de cardio, zona de musculación, equilibrio mental. </p>
               </div>
          </div>
          <div class="row justify-content-center">
               <div class="col-12 col-md-5 my-5">
                    <h6>BAR</h6>
                    <p>Aquí podras tomar un cafe, una copa, o una sidra bien fresquita en un espacio donde podrás
                    escuchar tu musica preferida pasando un rato agradable con tu compañia.
                    </p>
               </div>
               <div class="col-12 col-md-5 my-5">
                    <img src="../../assets/img/bar.jpg" alt="tranqui" width="300" height="200">
          
               </div>
          </div>
          <div class="row justify-content-center">
               <div class="col-12 col-md-5 my-5">
                    <img src="../../assets/img/recorrido.jpg" alt="susto" width="300" height="200">
               </div>
               <div class="col-12 col-md-5 my-5">
                    <h6>RECORRIDO TRANSYLVANIA</h6>
                    <p>¿Te atreves a acompañarnos en un recorrido muy terrorifico? <br>
                    conoce el lugar más top y escalofriante de nuestro hotel <br>
                    recreando escenas y momentos que destacan el nombre de nuestro lugar. <br>
                    (este servicio es opcional).</p>
               </div>
          </div>
     </div>
</div><br><br>
<hr>